*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja{
    width: 150px;
    height: 150px;
    margin: 24px;
}

/* caja con translación */
.caja1{
    background-color: blueviolet;
    /* transform: translateX(200px); */
    /* transform: translateY(50px); */
    transform: translate(100px,5px);
    /* transition: property - duration - timing-function - delay; */
    transition: transform 1s;
}
.caja1:hover{
    transform: translate(0px,0px);
    transition: transform 3s;
}


/* Caja con escalado */
.caja2{
    background-color: tomato;
    transform: scale(1);
    /* transform: scaleX(1.3); */
    /* transform: scaleY(2); */
    transform-origin: top left; 
    /* Modificamos el punto de origen del objeto que por defecto se encuentra en el centro */
    transition: all 500ms linear;
}
.caja2:hover{
    background-color: blueviolet;
    transform: scale(1.5);
    /* transform: scaleX(1.3); */
    /* transform: scaleY(2); */
    transition: all 2s ease;
}
/* caja skew */
.caja3{
    background-color: yellowgreen;
    transform: skew(0deg);
    transition: transform 2s ease-in-out;
}
.caja3:hover{
    transform: skew(45deg);
    /* transition: transform 2s ease-in-out 1s; */
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}
/* caja con rotación */
.caja4{
    background-color: hotpink;
    transform: rotate(0deg);
    transform-origin: top center;
    transition: transform 1s ease;
}
.caja4:hover{
    transform: rotate(150deg);
    transition: transform 2s cubic-bezier(.14,1.12,.55,.79);
}

.caja5{
    border: 2px solid #7c0eaf;
    position: relative;
    perspective: 80px;
    /* modifico el punto de origen para generar la perspectiva */
    perspective-origin: top left;
}

.caja5:hover .caja-item{
    transform: rotateX(80deg);
    transition: transform 2s ease-out;
}

.caja-item{
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(40deg);
    background-color: aqua;
    opacity: 0.8;
    width: 100px;
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* ANIMACIONES */

.base{
    width: 100%;
    height: 300px;
    background-color: #18bf6e;
    border-bottom: 2px solid black;
    margin-block: 24px;
    position: relative;
}

.esfera{
    width: 50px;
    height: 50px;
    background-color: #7118bf;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    animation-name: Rebote;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes Rebote{
    0%{transform: translate3D(0px, 0px, 0) rotate(0deg)}
    25%{transform: translate3D(15vw, -25vh, 5vw) rotate(15deg)}
    50%{transform: translate3D(30vw, -50vh, 25vw) rotate(50deg)}
    100%{transform: translate3D(80vw, 0vh, 0) rotate(180deg)}
}